.places {
    margin: 64px 0 0 0;
}

@media only screen and (min-width: 767px) {
    .places {
        margin-top: 88px;
    }
}

@media only screen and (min-width: 1024px) {
    .places {
        margin-top: 92px;
    }
}