.place__image {
    max-width: 560px;
    width: 100%;
    padding: 0;
    margin: 0 0 32px 0;
}

@media only screen and (min-width: 350px) {
    .place__image {
        margin: 0 0 32px 0;
    }
}

@media only screen and (min-width: 768px) {
    .place__image {
        margin: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media only screen and (min-width: 1280px) {
    .place__image {
        max-width: 560px;
    }
}