.cover__subtitle {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 16px 0 0 0;
    padding: 0 16px;
    z-index: 4;
}

@media only screen and (min-width: 767px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}