.lead__title {
    color: white;
    font-weight: 900;
    font-size: calc(40px + 40 * ((100vw - 320px) / 320));
    line-height: calc(40px + 40 * ((100vw - 320px) / 320));
    text-align: center;
    margin: 48px 0px 0px 0px;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
    }
}