.footer__copyright {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: white;
    padding: 0;
    margin: 48px 0px 24px 0px;
}

@media only screen and (min-width: 767px) {
    .footer__copyright {
        margin: 0;
        line-height: 18px;
    }
}