.lead__image {
    /*background: url(../../../images/lead_image.jpg) no-repeat;*/
    /*background-size: cover;*/
    object-fit: cover;
    object-position: bottom;
    margin: 40px 0px 0px 0px;
    padding: 0;
    min-height: 200px
}

@media only screen and (min-width: 1024px) {
    .lead__image {
        margin: 40px 48px 0px 48px;
    }
}

@media only screen and (min-width: 1280px) {
    .lead__image {
        margin: 40px 148px 0px 148px;
    }
}