.intro {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: 64px 0 0 0;
}


@media only screen and (min-width: 768px) {
    .intro {
        padding: 0 24px;
        margin-top: 88px;
    }
}

@media only screen and (min-width: 1024px) {
    .intro {
        padding: 0 286px 0 48px;
        margin-top: 92px;
    }
}

@media only screen and (min-width: 1280px) {
    .intro {
        padding: 0 442px 0 148px;
    }
}