.cover__title {
    color: white;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 3;
}

@media only screen and (min-width: 767px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media only screen and (min-width: 1023px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media only screen and (min-width: 1279px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }
}