.place {
    display: grid;
    margin: 50px 0 0 0;
    padding: 0;
}

.place:first-child {
    margin: 0;
}

@media only screen and (min-width: 150px) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: 1fr;
    }
}

@media only screen and (min-width: 767px) {
    .place {
        padding: 0 24px;
        grid-template-columns: repeat(2, minmax(340px, 1fr));
        grid-gap: 48px 28px;
        margin-top: 73px;
    }
}

@media only screen and (min-width: 1024px) {
    .place {
        padding: 0 48px;
        grid-gap: 48px 32px;
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1280px) {
    .place {
        padding: 0 148px;
        grid-gap: 48px 40px;
    }
}
